<template>
    <h1>RUTA: {{ currentRoute }}</h1>
</template>

<script>
    export default {
        name: 'Home',
        data: () => ({
          currentRoute: window.location.pathname
        })

    }
</script>
