<template>
  <div class="page-container pb-3">
    <v-breadcrumbs divider="/">
      <v-breadcrumbs-item :disabled="true">Sesiones</v-breadcrumbs-item>
    </v-breadcrumbs>
    <!-- <students></students> -->
    <!-- <v-content>
      <v-container fluid>
        <h1>RUTA: {{ currentRoute }}</h1>
        <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Error quibusdam, non molestias et! Earum magnam, similique, quo recusandae placeat dicta asperiores modi sint ea repudiandae maxime? Quae non explicabo, neque.</p>
      </v-container>
    </v-content> -->
    <v-data-table
      :headers="headers"
      :items="desserts"
      hide-actions
      class="elevation-1"
    >
      <template slot="items" slot-scope="props">
        <td>{{ props.item.number }}</td>
        <td class="text-xs">{{ props.item.name }}</td>
        <!-- <td class="text-xs">{{ props.item.active }}</td> -->
        
        <td class="justify-center layout px-0">
          <v-switch
            color="green"
            :label="`activo: ${props.item.active.toString()}`"
            v-model="props.item.active"
            @change="stateChangue(props.item)"
          ></v-switch>
        </td>
        <td class="text-xs">
          <!-- {{ props.item.startdate }} -->
          <date-picker 
            v-model="props.item.startdate" 
            @confirm="setStartDate($event, props.item)"
            lang="es" 
            :not-before="new Date()" 
            :first-day-of-week="1" 
            :confirm="true" 
            confirm-text="Confirmar" 
            format="DD/MM/YYYY">
          </date-picker>
        </td>
        <td class="text-xs">{{ props.item.grade }}</td>
        <td class="text-xs">{{ props.item.complete }}</td>
        <td class="justify-center layout px-0">
          <v-btn flat icon color="indigo" :to="{name:'Activities', params: {'sessionid':props.item.id}}" exact>
            <v-icon color="green">slideshow</v-icon>
          </v-btn>
        </td>
      </template>
    </v-data-table>
  </div>
</template>

<style lang="scss">
  .mx-panel-date {
    thead {
      tr {
        height: inherit !important;
        th {
          font-weight: 700 !important;
        }
      }
    }
    td, th {
      width: 32px !important;
      height: 32px !important;
      padding: 0 !important;
    }
  }
  // .page-container {
  //   display: flex;
  //   flex-direction:row-reverse;    
  //   .v-content {
  //     width: calc( 100vw - 334px );
  //   }
  // }  
</style>

<script>
    export default {
        name: 'sessions',
        mounted() {
          this.desserts = [
            {
              id: 1,
              number: 1,
              name: 'Propósitos de estudio',
              active: true,
              startdate: new Date(2018, 7, 30),
              grade: 3.5,
              complete: '87%'
            },
            {
              id: 2,
              number: 2,
              name: 'Propósitos de estudio',
              active: false,
              startdate: new Date(2018, 8, 30),
              grade: 3.5,
              complete: '87%'
            },
            {
              id: 3,
              number: 3,
              name: 'Propósitos de estudio',
              active: false,
              startdate: null,
              grade: 3.5,
              complete: '87%'
            },
            {
              id: 4,
              number: 4,
              name: 'Propósitos de estudio',
              active: false,
              startdate: null,
              grade: 3.5,
              complete: '87%'
            },
            {
              id: 5,
              number: 5,
              name: 'Propósitos de estudio',
              active: false,
              startdate: null,
              grade: 3.5,
              complete: '87%'
            },
            {
              id: 6,
              number: 6,
              name: 'Propósitos de estudio',
              active: false,
              startdate: null,
              grade: 3.5,
              complete: '87%'
            },
            {
              id: 7,
              number: 7,
              name: 'Propósitos de estudio',
              active: false,
              startdate: null,
              grade: 3.5,
              complete: '87%'
            },
            {
              id: 8,
              number: 8,
              name: 'Propósitos de estudio',
              active: false,
              startdate: null,
              grade: 3.5,
              complete: '87%'
            },
            {
              id: 9,
              number: 9,
              name: 'Propósitos de estudio',
              active: false,
              startdate: null,
              grade: 3.5,
              complete: '87%'
            },
          ]
        },
        data: () => ({
          headers: [
            { text: '#', value: 'number', sortable: false },
            { text: 'Nombre', value: 'name' },
            { text: 'Estado', value: 'active' },
            { text: 'Fecha de activación', value: 'startdate' },
            { text: 'Valorización', value: 'grade' },
            { text: 'Completación', value: 'complete' },
            { text: 'Acción', value: 'action' }
          ],
          desserts: [ ]
        }),
        methods: {
          viewItem: item => {
            console.log(item)
          },
          stateChangue: item => {
            // console.log(item.active)
            if (item.active) {
              if (!confirm("¿Está seguro que desea activar esta sesión?")) {
                item.active = false;
                return;
              }else{
                item.startdate = new Date();
              }
            } else {
              if (!confirm("¿Está seguro que desea desactivar esta sesión?")) {
                item.active = true;
                return;
              }else{
                item.startdate = null;
              }
            }
            //set in serve
            console.log('set in serve', item.active);
            return;
          },
          setStartDate: (currentValue, item) => {
            let now = new Date();
            // console.log('setStartDate', currentValue, item)
            // console.log(now > currentValue)
            
            if (now > currentValue) {
              item.active = true;
            } else {
              item.active = false;
            }
          }
        },
    }
</script>