<template>
     <div>
        <v-breadcrumbs divider="/">
            <v-breadcrumbs-item to="/sesiones">Sesiones</v-breadcrumbs-item>
            <!-- <v-breadcrumbs-item :to="{name:'Activities', params: {'sessionid':session.id}}">Sesion: {{ session.name }}</v-breadcrumbs-item> -->
            <v-breadcrumbs-item :to="`/sesiones/${session.id}/actividades`">Sesion: {{ session.name }}</v-breadcrumbs-item>            
            <v-breadcrumbs-item :disabled="true">{{ session.activity.name }}</v-breadcrumbs-item>
        </v-breadcrumbs>            
        <v-layout row wrap withaside>
            <v-flex>
                <p v-for="(lorem, key, index) in lorems" :key="index">{{ lorem }}</p>
            </v-flex>
            <students scope="activity"></students>
        </v-layout>
     </div>
</template>

<style lang="scss" scoped>
  .withaside .flex {
    width: calc( 100% - 300px );
  }
</style>

<script>
    export default {
        name: 'Activities',
        created() {
            this.id = this.$route.params.id;
            for (let index = 0; index < 30; index++) {
                this.lorems[index] = 'Lorem, ipsum dolor sit amet consectetur adipisicing elit. Nihil, ratione! Sed suscipit tenetur aspernatur inventore exercitationem assumenda placeat, neque minus? Id alias illo blanditiis, quis et architecto quia iure pariatur?';
            }
        },
        data () {
            return {
                session: {
                    id: 1,
                    name: 'Propósitos de estudio',
                    activity: {
                        id: 1,
                        number: 1,
                        name: 'Propósitos de estudio',
                        complete: '-'
                    }
                },
                lorems: [] 
            }
        }
    }
</script>