<template>
    <div class="page-container pb-3">
        <v-breadcrumbs divider="/">
            <v-breadcrumbs-item to="/sesiones">Sesiones</v-breadcrumbs-item>
            <v-breadcrumbs-item :disabled="true">{{ session.name }}</v-breadcrumbs-item>
        </v-breadcrumbs>
        <v-data-table
        :headers="headers"
        :items="desserts"
        hide-actions
        class="elevation-1"
        >
        <template slot="items" slot-scope="props">
            <!-- <td>{{ props.item.number }}</td> -->
            <td class="text-xs">{{ props.item.name }}</td>
            <td class="text-xs">{{ props.item.complete }}</td>
            <td class="justify-center layout px-0">
            <v-btn flat icon color="indigo" :to="{name:'Activity', params: {'activityid':props.item.id, 'sessionid':session.id}}" exact>
                <v-icon color="green">slideshow</v-icon>
            </v-btn>
            </td>
        </template>
        </v-data-table>
    </div>
</template>

<script>
    export default {
        name: 'Activities',
        created() {
            this.id = this.$route.params.id;
            this.desserts = [
                {
                    id: 1,
                    number: 1,
                    name: 'Propósitos de estudio',
                    complete: '-'
                },
                {
                    id: 2,
                    number: 2,
                    name: '¿Qué me mueve, qué me anima?',
                    complete: '87%'
                },
                {
                    id: 3,
                    number: 3,
                    name: 'Y tú ¿qué propósitos tomarías en cuenta?',
                    complete: '87%'
                },
                {
                    id: 4,
                    number: 4,
                    name: '¿Qué hago primero?',
                    complete: '87%'
                },
                {
                    id: 5,
                    number: 5,
                    name: 'Mi compromiso, mi acción',
                    complete: '87%'
                },
            ]
        },
        data () {
            return {
                session: {
                    id: 1,
                    name: 'Propósitos de estudio'
                },
                headers: [
                    // { text: '#', value: 'number', sortable: false },
                    { text: 'Nombre', value: 'name', sortable: false },
                    { text: 'Completación', value: 'complete' },
                    { text: 'Acción', value: 'action' }
                ],
                desserts: []
            }
        }
    }
</script>