<template>
    <div class="md-layout md-gutter">
        <div class="md-layout-item md-size-100">
            <md-dialog-title>Enviar Notificación</md-dialog-title>
            <!-- <md-chips class="md-primary" v-model="destinos" :md-options="alumnos" md-placeholder="Agregar destino...">
                <label>Agregar Alumnos</label>
            </md-chips> -->

            <md-field>
                <v-select ref="select" multiple :options="options" v-model="selected"></v-select>
                <md-button class="md-raised md-primary" @click="toggleSelect">{{ buttonText }}</md-button>
            </md-field>

            <md-field>
                <label>Mensaje</label>
                <md-textarea v-model="mensaje" md-counter="180"></md-textarea>
            </md-field>
            <md-dialog-actions>
                <md-button class="md-accent" @click="closeNotificar">Cancelar</md-button>
                <md-button class="md-primary" @click="showNotificar = false">Enviar</md-button>
            </md-dialog-actions>            
        </div>
    </div>
</template>

<style lang="scss" scoped>
    .md-layout.md-gutter {
        min-width: 500px;
        padding: 20px;
        .dropdown.v-select.searchable {
            width: 500px;
        }
    }
</style>


<script>
    export default {
        name: 'notify',
        mounted() {

            let alumnos = [
                {id: 1, name: 'Felipe Morales'},
                {id: 2, name: 'Pablo Masquiaran'},
                {id: 3, name: 'Pedro Godoy'},
                {id: 4, name: 'Alejandra Yobánolo'},
                {id: 5, name: 'Francisca Suazo'},
                {id: 6, name: 'Nelson Arias'},
                {id: 7, name: 'Cesar Mora'},
                {id: 8, name: 'Jaime Hernandez'},
            ]

            let seleccionados = [
                    {id: 1, name: 'Felipe Morales'},
                    {id: 2, name: 'Pablo Masquiaran'},
                    {id: 3, name: 'Pedro Godoy'},
                    {id: 4, name: 'Alejandra Yobánolo'},
                    {id: 5, name: 'Francisca Suazo'}
                ]
            
            this.options = alumnos.map( (obj) => { return obj.name });
            this.selected = seleccionados.map( (obj) => { return obj.name });

        },
        data () {
            return {
                titulo: 'NOTIFICAR',
                options: [],
                allSelected: false,
                selected: [],
                mensaje: null,
                buttonText: 'Todos'
            }
        },
        watch: {
            selected: function(newText, oldText) {
                if (this.selected.length == this.options.length) {
                    this.allSelected = true;
                    this.buttonText = 'Ninguno';
                } else {
                    this.allSelected = false;
                    this.buttonText = 'Todos';
                }
            }
        },
        methods: {
            closeNotificar (ref) { 
                // this.$refs.formDialog.close();
                // this.$refs[ref].close();
            },
            toggleSelect () {
                const select = this.$refs.select;                
                if (this.allSelected) {
                    select.clearSelection();
                }else{
                    select.clearSelection()
                    select.options.forEach(option => {
                        select.select(option);
                    });
                }
                select.open = false
            }
        }
    }
</script>