<template>
    <v-navigation-drawer :clipped="$vuetify.breakpoint.lgAndUp" fixed right app>
      <v-toolbar flat>
        <v-list>
          <v-list-tile>
            <v-list-tile-title class="title">
              Estudiantes
            </v-list-tile-title>
          </v-list-tile>
        </v-list>
      </v-toolbar>
  
      <v-divider></v-divider>
  
      <v-list dense class="pt-0">
        <v-list-tile
          v-for="item in items"
          :key="item.title"
          v-on="item.complete ? { click: $event => selectItem( $event, item ) } : {}"
          v-bind:class="{'active':(item.active === true), 'complete':(item.complete)}"
        >
          <v-avatar
            :size="avatarSize"
            color="grey lighten-4"
          >
            <img :src="item.imagesrc" alt="avatar">
          </v-avatar>
  
          <v-list-tile-content>
            <v-list-tile-title>{{ item.name }}</v-list-tile-title>
          </v-list-tile-content>

          <v-list-tile-action v-if="scope == 'activity'">
            <!-- <v-btn icon ripple> -->
              <v-icon v-if="item.complete" color="green lighten-1">check_box</v-icon>
              <v-icon v-else color="grey lighten-1">check_box_outline_blank</v-icon>
            <!-- </v-btn> -->
          </v-list-tile-action>

        </v-list-tile>
      </v-list>
    </v-navigation-drawer>
</template>

<style lang="scss" scoped>
    .v-navigation-drawer {
      width: 300px;
      .v-list {
        .v-list__tile__title {
          color: grey;
        }
        .active {
          .v-list__tile__title {
            color: green;
          }
        }

      }
      .v-avatar {
        img {
          margin-right: 15px;
        }
      }
    }
</style>

<script>
    export default {
        name: 'sessions',
        props: ['scope'],
        mounted() {
          let alumnos = [
                {id: 1, name: 'Felipe Morales', imagesrc: window.location.origin + '/src/assets/examples/avatar.png', active: true, complete: false},
                {id: 2, name: 'Pablo Masquiaran', imagesrc: window.location.origin + '/src/assets/examples/avatar.png', active: false, complete: false},
                {id: 3, name: 'Pedro Godoy', imagesrc: window.location.origin + '/src/assets/examples/avatar.png', active: true, complete: true},
                {id: 4, name: 'Alejandra Yobánolo', imagesrc: window.location.origin + '/src/assets/examples/avatar.png', active: true, complete: false},
                {id: 5, name: 'Francisca Suazo', imagesrc: window.location.origin + '/src/assets/examples/avatar.png', active: true, complete: true},
                {id: 6, name: 'Nelson Arias', imagesrc: window.location.origin + '/src/assets/examples/avatar.png', active: true, complete: true},
                {id: 7, name: 'Cesar Mora', imagesrc: window.location.origin + '/src/assets/examples/avatar.png', active: false, complete: false},
                {id: 8, name: 'Jaime Hernandez', imagesrc: window.location.origin + '/src/assets/examples/avatar.png', active: true, complete: true},
            ];
          this.items = alumnos;
          console.log('scope', this.scope)
        },
        data () {
            return {
              items: [],
              avatarSize: 30,
              right: null
            }
        },
        methods: {
          selectItem(item) {
            console.log(item)
          }
        }

    }
</script>