<template>
    <div id="tabs-nav" class="md-toolbar-row transparent">

        <md-tabs class="tabs-navegation transparent">
            <md-tab id="tab-home" md-label="Inicio" to="/Home"></md-tab>
            <md-tab id="tab-pages" md-label="Social"></md-tab>
            <md-tab id="tab-posts" md-label="Progreso"></md-tab>
            <md-tab id="tab-favorites" md-label="Sesiones" to="/sesiones"></md-tab>
        </md-tabs>

        <md-button class="" @click="showNotificar = true">
            <md-icon>message</md-icon> Notificar
        </md-button>
        
        <md-dialog :md-active.sync="showNotificar">
            <notify></notify>
        </md-dialog>

        <md-content class="transparent">
            <md-field>
                <label for="grupo">Grupo {{ groupselected }}</label>
                <md-select v-model="groupselected" name="grupo" id="grupo">
                    <md-option v-for="(group, key, index) in groups" :key="index" :value="group.value">{{ group.name }}</md-option>
                </md-select>
            </md-field>
        </md-content>
    </div>
</template>

<style lang="scss" scoped>
    .tabs-navegation {
        flex-grow: 1;
    }
</style>

<script>
    export default {
        name: 'tabs-nav',
        data () {
            return {
                titulo: 'TABS',
                name: null,
                groupselected: null,
                showNotificar: false,
                groups: [
                    {name: 'Grupo 1', value: 'grupo1'},
                    {name: 'Grupo 2', value: 'grupo2'},
                    {name: 'Grupo 3', value: 'grupo3'}
                ]
            }
        }
    }
</script>