<template>
    <div id="top-nav" class="md-toolbar-row">
        <div class="md-toolbar-section-start">
            <span class="md-title">{{ marca }}</span>
        </div>

        <div class=" md-alignment-center-right">
            <md-avatar>
                <img v-bind:src="userimage" alt="Avatar">
            </md-avatar>
            <span>{{ username }}</span>
            <md-button class="md-icon-button">
                <md-icon>more_vert</md-icon>
            </md-button>
        </div>
    </div>
</template>

<script>
    export default {
        name: 'top-nav',
        data () {
            return {
                marca: '4PLANNING',
                username: 'Nombre Apellido Apellido',
                userimage: window.location.origin + '/src/assets/examples/avatar.png'
            }
        }
    }
</script>