<template>
  <!-- <div id="app" class="page-container">
    <md-app md-waterfall md-mode="fixed-last">
      <md-app-toolbar class="md-large md-dense md-primary"> -->
  <!-- <v-container id="app" color="primary" grid-list-md>
    <v-layout row wrap>
      <v-flex xs12>
        <top-nav></top-nav>
      </v-flex>
      <v-flex xs12>
        <tabs-nav></tabs-nav>
      </v-flex>
    </v-layout>
  </v-container> -->
  <v-app>
    <v-toolbar 
      color="primary" 
      app 
      extended
    >
      <!-- <v-toolbar-side-icon></v-toolbar-side-icon> -->
      <!-- <v-toolbar-title slot="extension" class="white--text">Title</v-toolbar-title> -->
      <top-nav></top-nav>
      <tabs-nav slot="extension"></tabs-nav>
    </v-toolbar>
    <v-content>
      <v-container fluid>
        <router-view></router-view>
      </v-container>
    </v-content>
  </v-app>

        
      <!-- </md-app-toolbar>    
      <md-app-content class="px-0 py-0">
        <router-view></router-view>
      </md-app-content>
    </md-app> -->
  <!-- </div> -->
</template>

<style lang="scss" scoped>
  .v-toolbar {
    padding-right: 0 !important;
  }
</style>

<script>
export default {
  name: 'app',
  data: () => ({
    menuVisible: false,
  })
}
</script>
